*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Lucida Sans';
}
html,body{
    height:100%;
    width:100%;
}
body{
    overflow-x:hidden;
}
#main{
    height:100%;
    width:100%;
    background-color:lightblue;
    background-image: url('https://images.unsplash.com/photo-1610692507254-3bc16d2527ea?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGNsb3VkfGVufDB8fDB8fHww');
    background-size: cover;
    background-position: center;
}
#nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 40px 50px;
    color:white;
}
#nav h2{
    font-size:25px;
    font-weight:800;
}
#nav i{
    font-size:25px;
    font-weight:800;
    cursor:pointer;
}
#full{
    height:100%;
    width:40%;
    background-color:rgba(255, 255, 255, 0.463);
    position: absolute;
    top:0;
    right:-40%;
    backdrop-filter:blur(10px);
    padding:150px 50px;
}
#full h4{
    font-size:50px;
    font-weight:500;
    margin-bottom:10px;
}
#full i{
    position:absolute;
    top:5%;
    right:10%;
    background-color: white;
    border-radius: 50%;
    font-weight: 800;
    padding:5px;
    font-size:20px;
    cursor:pointer;
}